/*  UNIVERSAL STYLING BEGIN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
/*  UNIVERSAL STYLING END */
/* MASONRY LAYOUT BEGIN */  
.grid-item { 
    width:400px;  
}
/* MASONRY LAYOUT END */